# servidor
PORT=3051

# DBUGLOG TRUE SOMENTE PARA DESENVOLVIMENTO
DEBUGLOG=true

# banco de dados
DATABASE_URL="mysql://plataforma_matematica:admin@cloud.fslab.dev:8806/plataforma_matematica"

# chave e time para expirar o token
SALT=10
PRIVATE_KEY=1010FFF

SWAGGER_DEV_URL="http://localhost:3060"
SWAGGER_PROD_URL="http://localhost:3060"
